version: "3"
services:
  mongodb-cves:
    image: mongo:4
    networks:
    - mongodb-cves
    restart: always

  ui-m1:
    image: registry.enginsight.com/enginsight/ui-m1:7.11.3
    ports:
    - "80:80"
    restart: always
    volumes:
    - "./conf/ui-m1/environment.js.production:/opt/enginsight/ui-m1/config/environment.js"

  server-m2:
    image: registry.enginsight.com/enginsight/server-m2:7.11.24
    networks:
    - redis
    ports:
    - "8080:8080"
    depends_on:
    - redis
    restart: always
    volumes:
#    - "./conf/ssl/:/etc/enginsight/ssl/"
    - "./conf/services/config.json.production:/etc/enginsight/server-m2/config.json"

  sentinel-m3:
    image: registry.enginsight.com/enginsight/sentinel-m3:3.0.15
    networks:
    - redis
    depends_on:
    - redis
    restart: always
    volumes:
#    - "./conf/ssl/:/etc/enginsight/ssl/"
    - "./conf/services/config.json.production:/etc/enginsight/sentinel-m3/config.json"

  reporter-m4:
    image: registry.enginsight.com/enginsight/reporter-m4:3.2.14
    networks:
    - redis
    - mongodb-cves
    depends_on:
    - redis
    - mongodb-cves
    restart: always
    volumes:
#    - "./conf/ssl/:/etc/enginsight/ssl/"
    - "./conf/services/config.json.production:/etc/enginsight/reporter-m4/config.json"

  profiler-m22:
    image: registry.enginsight.com/enginsight/profiler-m22:4.0.1
    networks:
    - redis
    depends_on:
    - redis
    restart: always
    volumes:
#    - "./conf/ssl/:/etc/enginsight/ssl/"
    - "./conf/services/config.json.production:/etc/enginsight/profiler-m22/config.json"

  anomalies-m28:
    image: registry.enginsight.com/enginsight/anomalies-m28:3.0.0
    networks:
    - redis
    depends_on:
    - redis
    restart: always
    volumes:
#    - "./conf/ssl/:/etc/enginsight/ssl/"
    - "./conf/services/config.json.production:/etc/enginsight/anomalies-m28/config.json"

  scheduler-m29:
    image: registry.enginsight.com/enginsight/scheduler-m29:1.12.31
    networks:
    - redis
    depends_on:
    - redis
    restart: always
    volumes:
#    - "./conf/ssl/:/etc/enginsight/ssl/"
    - "./conf/services/config.json.production:/etc/enginsight/scheduler-m29/config.json"

  updater-m34:
    image: registry.enginsight.com/enginsight/updater-m34:2.4.5
    restart: always
    networks:
    - redis
    depends_on:
    - redis
    volumes:
#    - "./conf/ssl/:/etc/enginsight/ssl/"
    - "./conf/services/config.json.production:/etc/enginsight/updater-m34/config.json"

  generator-m35:
    image: registry.enginsight.com/enginsight/generator-m35:1.15.34
    networks:
    - redis
    depends_on:
    - redis
    restart: always
    volumes:
#    - "./conf/ssl/:/etc/enginsight/ssl/"
    - "./conf/services/config.json.production:/etc/enginsight/generator-m35/config.json"

  historian-m38:
    image: registry.enginsight.com/enginsight/historian-m38:2.3.8
    networks:
    - redis
    depends_on:
    - redis
    restart: always
    volumes:
#    - "./conf/ssl/:/etc/enginsight/ssl/"
    - "./conf/services/config.json.production:/etc/enginsight/historian-m38/config.json"

  themis-m43:
    image: registry.enginsight.com/enginsight/themis-m43:2.1.61
    networks:
    - redis
    depends_on:
    - redis
    restart: always
    volumes:
#    - "./conf/ssl/:/etc/enginsight/ssl/"
    - "./conf/services/config.json.production:/etc/enginsight/themis-m43/config.json"

  redis:
    image: redis:5-alpine
    command: [sh, -c, "rm -f /data/dump.rdb && redis-server"]
    networks:
    - redis
    restart: always

networks:
  redis:
  mongodb-cves:
